rules_version = '2';
service firebase.storage {
  match /b/{bucket}/o {
    
    function isSignedIn() {
      return request.auth != null;
    }

    match /tenants/{tenantId}/{allPaths=**} {
      // Simplificado: Autenticado puede leer/escribir. 
      // Idealmente validar membresía con Firestore, pero puede dar problemas si no está habilitado.
      allow read, write: if isSignedIn();
    }
  }
}
